h1 {
	margin-left: 50px;
}
ul li, a {
	padding-right: 50px;
	list-style-type: none;
	display: inline;
	text-transform: uppercase;
    font-size: 90%;
    color: #8F8F8F;
}
a, a:visited {
	text-decoration: none;
}
#search {
	float: right;
	margin-right: 30px;
}