<article id="{{objectId}}" class="book">
    <div><span class="title">{{title}}</span> - <span class="author">{{author}}</span></div>
    <div><span class="isbn">{{isbn}}</span></div>
    <button class="delete-book-btn">Delete</button>
    <button class="edit-book-btn">Edit</button>
</article>
