{{#results}}
<article id="{{objectId}}" class="book">
    <div class="title">{{title}} - {{author}}</div>
    <div class="isbn">{{isbn}}</div>
    <button class="delete-book-btn">Delete</button>
    <button class="edit-book-btn">Edit</button>
</article>
{{/results}}