<div id="form">
    <div>
        <label for="edit-title">Title:</label>
        <input type="text" id="edit-title" value="{{title}}">
    </div>
    <div>
        <label for="edit-author">Author:</label>
        <input type="text" id="edit-author" value="{{author}}">
    </div>
    <div>
        <label for="edit-isbn">ISBN:</label>
        <input type="text" id="edit-isbn" value="{{isbn}}">
    </div>
    <button id="save-edit-btn">Save</button>
</div>