@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg); }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg); }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg); }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg); }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    -ms-transform: translate(1px, -2px) rotate(-1deg); } }
@keyframes spin {
  from {
    transform: scale(0.1, 0.1) skew(0deg) rotate(0deg); }

  to {
    transform: scale(1, 1) skew(0deg) rotate(360deg); } }
body {
  background-color: #bab9b9; }
  body div#wrapper {
    border-radius: 5px;
    background-color: #ddd;
    -webkit-box-shadow: 0px 0px 13px 0px #323232;
    -moz-box-shadow: 0px 0px 13px 0px #323232;
    box-shadow: 0px 0px 13px 0px #323232;
    width: 580px;
    height: 510px; }
    body div#wrapper div#pics {
      margin: 15px 50px;
      display: inline-block; }
      body div#wrapper div#pics img {
        border: 3px solid #fff;
        cursor: pointer;
        width: 150px;
        height: 110px;
        -webkit-transition: all .2s ease-in-out; }
        body div#wrapper div#pics img:hover {
          -webkit-animation-name: spaceboots;
          -webkit-animation-duration: 0.8s;
          -webkit-transform-origin: 50% 50%;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear; }
        body div#wrapper div#pics img:focus {
          -webkit-transform: scale(2); }
        body div#wrapper div#pics img:active {
          -webkit-transform: scale(2); }
