* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgb(255, 192, 203);
}
h1 {
	text-align: center;
}
div {
	display: inline-block;
	vertical-align: top;
}
#profile {
	height: 250px;
	width: 200px;
	padding-left: 10px;
}
#uploaded-audio {
	height: 250px;
}
img {
	width: 200px;
}
audio {
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}
#first-audio {
	height: 140px;
	background-color: #000;
	display: block;
}
#first-audio audio {
}